@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 600px;
}

button {
  padding: 5px 12px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header,
.footer {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
}

.left-links,
.right-links {
  display: flex;
  align-items: center;
  gap: 8px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.left-links,
.right-links {
  padding-right: 20px;
  padding-left: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}
